#index2{
    background-image: url("../images/comidahd.jpg");
}
#Bolsa{
	background-image: url("../images/fondoazul.jpg");
}
#Menu2{
  background-image: url("../images/Roti.jpg"); 
}
#Nosotros{
  background-image: url("../images/8.jpg"); 
}

#dbw{
  	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 400px;
  	height: 400px;
}
#logo{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 200px;
    color: rgba(255,99,71,.6);
}

#dbws{
    margin-top: 400px;
    margin-left: 100px;
    margin-right: 4px;
    margin-bottom: 100px;
}

#bdt{
  	position: absolute;
  	margin-left: 400px;
  	margin-top: 110px;
  	width: auto;
  	height: auto;
}
.BolsaOrdena{
  margin-left: 1000px;
}

#menu1{
	background-color: rgba(0,0,0,.5);
}

li{
	margin-right: 10em;
	margin-left: 4em;
}

#footer {
   	position:absolute;
   	bottom:0;
   	width:100%;
   	height:60px;   /* Height of the footer */
   	background-color: rgba(0,0,0,.5);
   	color: white;
	}
#Sol{
	color: white;
}
.equipo{
	color: white;
	font-size: 40px;
	position: absolute;
  	margin-left: 520px;
  	margin-top: 50px;
  	width: auto;
  	height: auto;
}

.ComidaTitulo{
  background-color: orange;
  margin-right: 695px;
}
#Pack{
  background-color: orange;
  margin-right: 350px;
}
#Roti{
  background-color: orange;
  margin-right: 1010px;
}

#SucursalDiv{
  background-color: orange;
}

.hs{
  background-color: orange;
}

#footeresp {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background-color: rgba(211, 75, 45, .8);
    color: white;
  }
.logo{
  position: absolute;
  height: 30px;
  margin-top: 10px;
}
.right{
  position: right;
}

.labela{
  color: rgba(211,75,45,.8);
}

.formulario{
  background-color: white;
  margin-right: 800px;
}